html,body
{
    width:  100%;
    height: 100%;
    margin:  0px;
    padding: 0px;

    font-family: Helvetica, Arial, sans-serif;
    font-size:   14px;
    background-color: #ffffff;
}

h1, h2, h3
{
    text-align: center;
    color:#2495BF;
}

.sea        {background-color: #f2fbfd;}
.melancholy {background-color: #fafafa;}
.spring     {background-color: #ebf2e8;}

.hidden-div {display: none;}
/*********************************************************************************************************************/
#topBar
{
    background-color: #2495bf;

    width: 100%;
    min-width: 900px;
    height: 70px;
    font-size: 24px;    
    color: white;

    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    position: absolute;    
}

#topBar div {padding: 20px 60px 0 300px; min-width: 850px;}
/*********************************************************************************************************************/
#leftPanel
{
    padding-top: 100px;

    display: inline-block;
    width: 500px;
    height: 110%;
    background-color: rgba(36, 149, 191, 0.75);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#leftMenu
{
    display: inline-block;
    width: 100%;
    font-family: Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
}

#leftMenu-container
{
    list-style: none;
    margin: 40px 0 0 0;
    padding: 16px 32px 0 32px;
    border: none;
}

#leftMenu ul li
{
    margin: 0;
    height: 28px;
    line-height: 2.0;

    border-bottom: 1px solid #90bade;
}

.li-left          {padding-left: 24px;}
.li-left.selected {background: url(../img/light-on-green.png) no-repeat;}

.li-left a
{
    display: inline-block;
    text-decoration: none;
    color:#ffffff;    
}

.li-left a:hover
{
    text-decoration: underline;
    color: #66ff55;    
}
/*********************************************************************************************************************/
#rightPanel
{
    position: absolute;
    display: inline-block;
    
    left: 540px;
    top: 100px;
    
    vertical-align: top;
    width: 1000px;
    min-height: 100%;
}
/*********************************************************************************************************************/
#login-panel {margin-left: 100px;}

/*********************************************************************************************************************/
