<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Chat-X, test version ;)</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <!-- dont touch 3 tags below, it needs in case of old browser will use this page. Modern brwrs will understand too -->
        <meta http-equiv="Cache-Control" content="no-cache"/>
        <meta http-equiv="pragma" content="no-cache"/>
        <meta http-equiv="expires" content="-1"/>

        <link rel="stylesheet" type="text/css" href="css/main.css"/>         
        <script src="js/jquery-1.11.3.min.js"></script>
        <script src="js/user-login.js"></script>
    </head>

    <body>                
    
        <div id="topBar">
            <div >
                Chat-X, Специально для ТГУ, <span style="font-size: 20px; color: #b0b0b0; font-style: italic">версия тестовая</span>
            </div>
        </div>


         
         <div id="leftPanel">
            <div id="leftMenu">
                <ul id="leftMenu-container">
                    <li class="li-left"><a href="/chatx/do-register-user">Зарегистрироваться как пользователь</a></li>                    
                </ul>        
            </div>
        </div>
                    
        <div id="rightPanel">                   
                <H1>Логин</H1>
                <div id="workPanel">                     

                </div>        
        </div>
</body>
</html>