<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Chat-X, test version ;)</title><!-- comment -->
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>        
        <meta http-equiv="Cache-Control" content="no-cache"/>
        <meta http-equiv="pragma" content="no-cache"/>
        <meta http-equiv="expires" content="-1"/>
        <link rel="stylesheet" type="text/css" href="css/main.css"/>         
        <link rel="stylesheet" type="text/css" href="css/ctrls.css"/>    
        <script src="js/jquery-1.11.3.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/user-reg.js"></script>
        <script>
            $(document).ready(OnDocumentReady);
        </script>
    </head>
<body  onload="_applayDynamicSettings ()">    
    <div id="topBar">
            <canvas id="forTriangle" width="100" height="60" style="position: absolute; top: 38px; left: 160px; z-index: 200000;"></canvas> 
             <div>
                Chat-X, Специально для ТГУ, <span style="font-size: 20px; color: #b0b0b0; font-style: italic">версия тестовая</span>
            </div>
    </div>
         
         <div id="leftPanel">
            <div id="leftMenu">
                <ul id="leftMenu-container">
                    <li class="li-left"><a href="/chatx/login">Войти как пользователь Chat-X</a></li>
                    <li class="li-left selected"><a href="/chatx/user-reg">Зарегистрироваться в Chat-X</a></li> 
                </ul>        
            </div>
        </div>
                    
        
<!--   ------------------------------------------------------------------------------    -->
        <div id="rightPanel">     
            
            <center>
                    <H1>Chat-X регистрация</H1>                    
            </center>
            
            <Br>
            <Br>
            <Br>
            <div id="reg-panel">
            <!--   ------------------------------------------------------------------------------    -->
                <div class="btn" id="reg-button" onclick="$('#formDoUserRegistrationId').submit();">
                     Зарегистрировать
                </div>
            <br><br>
                <form action="do-user-registration" name="formDoUserRegistration" id="formDoUserRegistrationId"  method="POST" accept-charset="UTF-8">     
                    <table>
                        <tr><td align="right">ник:            </td>  <td><input class="input-line-in-table" id="nick"       value=""  type="text"     placeholder="имя пользователя" name="nick"/> </td></tr>
                        <tr><td align="right">пароль:         </td>  <td><input class="input-line-in-table" id="pass"       value=""  type="password" placeholder="пароль"      name="pass"/>       </td></tr>
                        <tr><td align="right">еще раз пароль: </td>  <td><input class="input-line-in-table" id="pass_check" value=""  type="password" placeholder="подтвердить" name="pass_check" required/> </td></tr>
                        <tr><td align="right">email:          </td>  <td><input class="input-line-in-table" id="emailId"    value=""  type="email"                              name="email"/>      </td></tr>
                        <tr><td align="right">имя:            </td>  <td><input class="input-line-in-table" id="firstname"  value=""  type="text"     placeholder="имя"         name="firstname"/>  </td></tr>
                        <tr><td align="right">фамилия:        </td>  <td><input class="input-line-in-table" id="lastname"   value=""  type="text"     placeholder="фамилия"     name="lastname"/>   </td></tr>
                    </table>
                </form>                      

                <div class="info-panel-container">                    
                    <div class="info-panel">                            

                            <div class="msg-container"  id="msg-container"  style="display: none;"  th:style="${msgPanelStyle}">  
                                [(${regMessage})]
                                <span th:text="${loginMessage}"></span>

                            </div>
                    </div>
                </div>
            </div>
        </div>        
    </body>
</html>