<!DOCTYPE html>
<html>
    <head>
        <title>Chat-X admin</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <!-- dont touch 3 tags below, it needs in case of old browser will use this page. Modern brwrs will understand too -->
        <meta http-equiv="Cache-Control" content="no-cache"/>
        <meta http-equiv="pragma" content="no-cache"/>
        <meta http-equiv="expires" content="-1"/>

        <link rel="stylesheet" type="text/css" href="css/main.css"/>         
        <script src="js/jquery-1.11.3.min.js"></script>
        <script src="js/dbinstall.js"></script>
    </head>

    <body>                
    
        <div id="topBar">
            <div style="color:red">
                <span style="font-size: 20px; font-style: italic">Администрирование Chat-X</span>
            </div>
        </div>

        <div id="leftPanel">
            <div id="leftMenu">
                <ul id="leftMenu-container">
                    <li class="li-left selected"><a href="dbinstall">Инсталляция БД</a></li>
                    <li class="li-left"><a href="show-admins">Паказать админов</a></li>
                    <li class="li-left"><a href="show-users">Паказать пользователей</a></li>           
                    <li class="li-left"><a href="show-chats">Паказать чаты</a></li>                      
                    <li class="li-left"><a href="index.html">Выйти</a></li>                            
                </ul>        
            </div>
        </div>

        <div id="rightPanel">        
                    <H1>Инсталляция БД.</H1>
                    <br/>
                    <br/>
                    <br/>
                    <H2>

                    </H2>                 
                    
                <div th:if="${pgVars.tblsExists} == true">

                            <div class="btn" id="btn" onclick="createTables();">
                                Создать таблицы >>
                            </div>

                            <div class="btn-waiting" id="btn-waiting" style="display:none;">
                                <img src="img/hourglass.gif"/>
                            </div>

                            <div class="srv-msg-container result" id="srv-msg-container">

                            </div>
                </div>
        </div>        
    </body>
</html>