<!DOCTYPE html>
<html>
    <head>
        <title>Chat-X admin</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>        
        <meta http-equiv="Cache-Control" content="no-cache"/>
        <meta http-equiv="pragma" content="no-cache"/>
        <meta http-equiv="expires" content="-1"/>
        <link rel="stylesheet" type="text/css" href="css/main.css"/>         
        <script src="js/jquery-1.11.3.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/show-admins.js"></script>
    </head>
<body>    
    <div id="topBar">
        <div style="color:red">
            <span style="font-size: 20px; font-style: italic">Администрирование Chat-X</span>
        </div>
    </div>
    <div id="leftPanel">
        <div id="leftMenu">
            <ul id="leftMenu-container">
                    <li class="li-left"><a href="dbinstall">Инсталляция БД</a></li>
                    <li class="li-left selected"><a href="show-admins">Показать админов</a></li>
                    <li class="li-left"><a href="show-users">Показать пользователей</a></li>           
                    <li class="li-left"><a href="show-chats">Показать чаты</a></li>                       
                    <li class="li-left"><a href="index.html">Выйти</a></li>                            
            </ul>        
        </div>
    </div>
    <div id="rightPanel">   
            <H1>Показать админов</H1>      
            <div id="workPanel">                     

            </div>        
    </div>
</body>
</html>